<table class='table'>
  <tr><%= image_tag user.get_profile_image, size: '100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

<% unless current_user==user %>
  <% if current_user.following?(user) %>
    <div class="row mt-3">
      <%= form_with model: current_user.active_relationships.find_by(followed_id: user.id),gitmethod: :delete do |f| %>
        <%= f.submit "Folloing",class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <div class="row mt-3">
      <%= form_with model: current_user.active_relationships.build,url: relationships_path,method: :post do |f| %>
        <div><%= hidden_field_tag  :followed_id, user.id %></div>
        <%= f.submit "Follow",class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  <% end %>
<% end %>